mixin alert-success(time)
    -   if (messages.success)
            .message.info
                div(
                    class="alert alert-success"
                    show-alert
                    data-time=time
                    style="position: fixed; top: 63px; right: 15px; z-index: 9999;"
                )   #{messages.success} 

mixin alert-error(time)
    -   if (messages.error)
            .message.info
                div(
                    class="alert alert-danger"
                    show-alert
                    data-time=time
                    style="position: fixed; top: 63px; right: 15px; z-index: 9999;"
                )   #{messages.error} 